################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/LL.Algorithms.UpdateDSP/bin/Debug/netstandard2.0
/LL.Algorithms.UpdateDSP/bin/Debug
/LL.Algorithms.UpdateDSP/obj
/LL2024.Algorithms.UpdateDSPTests/bin/Debug
/LL2024.Algorithms.UpdateDSPTests/obj
