################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/LL.Algorithms.UpdateDSP/bin/Debug/netstandard2.0
/LL.Algorithms.UpdateDSP/bin/Debug
/LL.Algorithms.UpdateDSP/obj
/LL2024.Algorithms.UpdateDSPTests/bin/Debug
/LL2024.Algorithms.UpdateDSPTests/obj
/bin
/LL.Algorithms.UpdateDSP/bin/Release
/LL2024.Algorithms.UpdateDSPTests/bin/Release/net7
/obj
/Properties/PublishProfiles
/AFWDPPS.DB/.vs
/AFWDPPS.DB/bin
/AFWDPPS.DB/obj
/packages
/PDFSharp/PDFSharp/obj
/PDFSharp/PDFSharp/bin